In [1]:
# for loop
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
#for loop using list
fruits=["apple","banana","cherry"]
for i in fruits:
    print(i)

apple
banana
cherry

In [3]:
#for loop using string
fruits=["apple","banana","cherry"]
for i in "apple":
    print(i)

a
p
p
l
e

In [5]:
#break statement
fruits=["apple","banana","cherry"]
for i in fruits:
    print(i)
    if i=="banana":
        break

apple
banana

In [7]:
fruits=["apple","banana","cherry"]
for i in fruits:
    if i=="banana":
        break
    print(i)

apple

In [8]:
#continue statement
fruits=["apple","banana","cherry"]
for i in fruits:
    if i=="banana":
        continue
    print(i)

apple
cherry

In [9]:
#range function
for i in range(5):
    print(i)

0
1
2
3
4

In [10]:
for i in range(2,8):
    print(i)

2
3
4
5
6
7

In [11]:
for i in range(2,10,3):
    print(i)

2
5
8

In [12]:
#else with for loop
for i in range(5):
    print(i)
else:
    print("complet")

0
1
2
3
4
complet

In [20]:
for i in range(8):
    if i==5:
        break
    print(i)
else:
    print("task comp.")

0
1
2
3
4

In [1]:
#nested loops
color=["red","green","yellow"]
fruit=["apple","mango","banana"]
for i in color:
    for j in fruit:
        print(i,j)

red apple
red mango
red banana
green apple
green mango
green banana
yellow apple
yellow mango
yellow banana

In [3]:
for i in range(5):
    print(i+1)

1
2
3
4
5

In [4]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [5]:
for i in range(5):
    print(i*2)

0
2
4
6
8

In [6]:
for i in range(10):
    print((i+1)*2)

2
4
6
8
10
12
14
16
18
20

In [8]:
n=5
for i in range(10):
    print((i+1)*n)

5
10
15
20
25
30
35
40
45
50

In [9]:
for i in range(10):
    print((i+1)*3)

3
6
9
12
15
18
21
24
27
30

In [10]:
n=6
for i in range(10):
    print((i+1)*n)

6
12
18
24
30
36
42
48
54
60

In [11]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [12]:
for i in range(6,11):
    print(i)

6
7
8
9
10

In [13]:
for i in range(6,12):
    print(i*2+1)

13
15
17
19
21
23

In [15]:
#table logic
n=2
for i in range(1,11):
    print(i*n)

2
4
6
8
10
12
14
16
18
20

In [16]:
n=10
for i in range(1,11):
    print(i*n)

10
20
30
40
50
60
70
80
90
100

In [17]:
s=0
for i in range(1,6):
    s=s+i
    print(s)
print("after loop statement")

1
3
6
10
15
after loop statement

In [18]:
s=0
for i in range(1,6):
    s=s+i
print(s)

15

In [20]:
s=1
for i in range(1,6):
    s=s+i
    print(s)

2
4
7
11
16

In [21]:
s=1
for i in range(1,6):
    s=s*i
print(s)

120

In [25]:
#factorial
s=1
n=6
for i in range(1,n+1):
    s=s*i
    print(s)

1
2
6
24
120
720

In [28]:
s=1
n=5
for i in range(1,n+1):
    s=s*i
    print(s)

1
2
6
24
120

In [29]:
#take a input from user and print Table
n=int(input('enter a number'))
for i in range(1,11):
    print(i*n)

enter a number2
2
4
6
8
10
12
14
16
18
20

In [30]:
#range function with 3 argument
for i in range(1,6,1):
    print(i)

1
2
3
4
5

In [31]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [32]:
n=int(input("enter number"))
for i in range(1,11,1):
    print(i*n)

enter number2
2
4
6
8
10
12
14
16
18
20

In [3]:
n=int(input("enter number"))
for i in range(1,11,1):
    print(i*n)

enter number5
5
10
15
20
25
30
35
40
45
50

In [4]:
n=2
for i in range(5,12,2):
    n=n+i
    print(n)

7
14
23
34

In [5]:
for i in range(19,51,7):
    print(i)

19
26
33
40
47

In [9]:
n=int(input("enter number"))
for i in range(n,n*10+1,n):
        print(i)

enter number4
4
8
12
16
20
24
28
32
36
40

In [10]:
n=4
for i in range(1,19,7):
    n=n+i
    print(n)

5
13
28

n=3
for i in range(11,29,3):

In [11]:
n=3
for i in range(11,29,3):
    n=n*i
print(n)

93933840

In [12]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [13]:
for i in range(17,31,4):
    print(i)

17
21
25
29

In [14]:
n=int(input("enter number"))
for i in range(1,11,1):
    print(i*n)

enter number3
3
6
9
12
15
18
21
24
27
30

In [15]:
#loops decrement
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [16]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [17]:
for i in range(18,4,-3):
    print(i)

18
15
12
9
6

In [18]:
#table logic in decrement
n=2
for i in range(10,0,-1):
    print(i*n)

20
18
16
14
12
10
8
6
4
2

In [20]:
n=int(input("enter num"))
for i in range(n,n*10+1,n):
    print(i)

enter num3
3
6
9
12
15
18
21
24
27
30

In [24]:
n=int(input("enetr num"))
for i in range(n*10,n-1,-n):
    print(i)

enetr num4
40
36
32
28
24
20
16
12
8
4

In [25]:
n=6
for i in range(n*10,n-1,-n):
    print(i)

60
54
48
42
36
30
24
18
12
6

In [26]:
#table in increment order
n=4
for i in range(n,n*10+1,n):
    print(i)

4
8
12
16
20
24
28
32
36
40

In [27]:
for i in range(2,11,2):
    print(i*2)

4
8
12
16
20

In [30]:
for i in range(1,11,1):
    print(i*4)

4
8
12
16
20
24
28
32
36
40

In [34]:
n=6
for i in range(7,2,-2):
    n=n+i
    print(n)

13
18
21

In [35]:
for i in range(18,5,-3):
    print(i)

18
15
12
9
6

In [36]:
n=int(input("enter number"))
for i in range(78,45,-9):
    print(i)

enter number4
78
69
60
51

In [37]:
#break keyword with for loop
for i in range(0,10):
    if i==4:
        break
    print(i)

0
1
2
3

In [39]:
for index in range(4,13):
    if index==13:
        break
    print(index)

4
5
6
7
8
9
10
11
12

In [40]:
for i in range(1,11):
    if i>8:
        break
    print(i)

1
2
3
4
5
6
7
8

In [46]:
for i in range(4,12):
    if i==5:
        break
    print(i)
print("complete")

4
complete

In [47]:
for i in range(1,11):
    if i==5 and i==7:
        break
    print(i)
print("after loop statement")

1
2
3
4
5
6
7
8
9
10
after loop statement

In [48]:
for i in range(1,11):
    if i==5 or i==7:
        break
    print(i)
print("completed")

1
2
3
4
completed

In [49]:
#continue keyword
for i in range(1,11):
    if i==5 and i==7:
        continue
    print(i)

1
2
3
4
5
6
7
8
9
10

In [50]:
for i in range(1,11):
    if i==6 or i==8:
        continue
    print(i)

1
2
3
4
5
7
9
10

In [55]:
for i in range(1,11):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [56]:
for i in range(1,11):
    if i==5 or i%2==0:
        continue
    print(i)

1
3
7
9

In [58]:
for i in range(1,11):
    if i==5 or 1%2==0:
        continue
    else:
        break
    print(i)
print("after loop statement")

after loop statement

In [59]:
for i in range(1,11):
    if i%2==0:
        continue
    print(i)
print("complet")

1
3
5
7
9
complet

In [60]:
#else keyword with for loop
for i in range(1,11):
    print(i)
else:
    print("else block is execute")

1
2
3
4
5
6
7
8
9
10
else block is execute

In [61]:
#when using break
for i in range(1,11):
    if i==5:
        break
    print(i)
else:
    print("else block is running")
print("task finished")

1
2
3
4
task finished

In [62]:
for i in range(1,11):
    if i==15:
        break
    print(i)
else:
    print("else block is running")
print("task completed")

1
2
3
4
5
6
7
8
9
10
else block is running
task completed

In [63]:
for i in range(1,11):
    if i==5:
        continue
    print(i)
else:
    print("else block is running")
print("task complete")

1
2
3
4
6
7
8
9
10
else block is running
task complete

In [64]:
for i in range(5,12,-1):
    print(i)
else:
    print("else block is running")

else block is running

In [65]:
for i in range(15,5,-1):
    i=i+5
    if i==10:
        break
    print(i)
else:
    print("else block is running")

20
19
18
17
16
15
14
13
12
11
else block is running

In [66]:
for i in range(20,4,-3):
    i=i+4
    if i==20:
        continue
    print(i)
else:
    print("else block is running")

24
21
18
15
12
9
else block is running

In [1]:
#while loop
i=1
while i<=10:
    print(i)
    i=i+2

1
3
5
7
9

In [2]:
i=2
while i<=10:
    print(i)
    i=i+4

2
6
10

In [1]:
i=1
while i<10:
    i=i+1
    print(i)
    i=i+1

2
4
6
8
10

In [4]:
i=i
while i<=20:
    print(i)
    i=i+2
else:
    print("after loop statement")

11
13
15
17
19
after loop statement

In [6]:
i=5
while i<=50:
    print(i)
    i=i+5
print("after loop statement")

5
10
15
20
25
30
35
40
45
50
after loop statement

In [7]:
i=1
s=0
while i<=5:
    s=s+i
    i=i+1
print(s)

15

In [9]:
i=1
s=1
while i<=5:
    s=s*i
    i=i+1
    print(s)

1
2
6
24
120

In [11]:
#decrement loop logic
i=10
while i>=1:
    print(i)
    i=i-1
print("after loop statement")

10
9
8
7
6
5
4
3
2
1
after loop statement

In [13]:
#factorial logic
i=1
s=1
n=int(input("enter number"))
while i<=n:
    s=s*i
    i=i+1
print(s)

enter number5
120

In [14]:
#reverse table logic
i=50
while i>=5:
    print(i)
    i=i-5
print("task complet")

50
45
40
35
30
25
20
15
10
5
task complet

In [15]:
#using break keyword
i=0
while i<7:
    print(i)
    if i==5:
        print("line break")
        break
    i+=1

0
1
2
3
4
5
line break

In [16]:
i=1
while i<=10:
    if i==5:
        break
    print(i)
    i=i+1
print("task completed")

1
2
3
4
task completed

In [18]:
#continue keyword
i=0
while i<=9:
    i=i+1
    if i==5:
        continue
    print(i)
print("after loop statement")

1
2
3
4
6
7
8
9
10
after loop statement

In [19]:
i=1
while i<=10:
    if i==5:
        i=i+1
        continue
    print(i)
    i=i+1
print("after loop statement")

1
2
3
4
6
7
8
9
10
after loop statement

In [20]:
#else block with while loop
i=1
while i<=0:
    print(i)
    i=i+1
else:
    print("else block is running")

else block is running

In [21]:
i=1
while i<=10:
    if i==15:
        break
    print(i)
    i=i+1
else:
    print("else block is running")

1
2
3
4
5
6
7
8
9
10
else block is running

In [22]:
i=1
while i<=5:
    if i==3:
        break
    print(i)
    i=i+1
else:
    print("else block is running")

1
2

In [ ]:
i=10
while i>=1:
    i=i+1
    print(i)