In [1]:
# tuple
a=(1,2,3,4)
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [4]:
#allow duplicates
a=(1,2,3,4,1.4,2)
print(a)

(1, 2, 3, 4, 1.4, 2)

In [5]:
#tuple length
a=(1,2,3,4,5)
print(len(a))

5

In [6]:
#create tuple with one item
a=("a",)
print(type(a))
# not a tuple
a=("a")
print(type(a))

<class 'tuple'>
<class 'str'>

In [7]:
#tuple items can be any data type
a=("a","b","c","d")
b=(1,2,3,4)
c=(True,False)
print(type(a))
print(type(b))
print(type(c))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [8]:
# tuple contain diff datatype
a=("a","b",True,False,1,2)
print(a)

('a', 'b', True, False, 1, 2)

In [9]:
#tuple constructor
a=(("a","b","c","d"))
print(a)

('a', 'b', 'c', 'd')

In [10]:
#access tuple items
a=(1,2,3,4,5)
print(a[1])

2

In [11]:
#Negative index
a=(1,2,3,4,5)
print(a[-2])

4

In [12]:
#ranges of indes
a=(1,2,3,4,5,6,7,8)
print(a[2:6])

(3, 4, 5, 6)

In [13]:
a=(1,2,3,4,5)
print(a[:3])

(1, 2, 3)

In [14]:
a=(1,2,3,4,5)
print(a[2:])

(3, 4, 5)

In [15]:
# negative indexes
a=(1,2,3,4,5)
print(a[-4:-2])

(2, 3)

In [16]:
a=(1,2,3,4,5)
print(a[-2:-5])

()

In [19]:
#check if item exist
a=("a","b","c","d")
if "c" in a:
    print("yes,if c present in tuple")

yes,if c present in tuple

In [22]:
#change tuple value convert tuple to list and chamnge
a=(1,2,3,4,5,6)
b=list(a)
b[4]=7
print(b)

[1, 2, 3, 4, 7, 6]

In [25]:
#add items 
a=("a","b","c")
b=list(a)
b.append("d")
a=tuple(b)
print(a)

('a', 'b', 'c', 'd')

In [30]:
#add tuple to a tuple
a=(1,2,3,4)
b=(5,)
a +=b
print(a)

(1, 2, 3, 4, 5)

In [36]:
#remove items convert atuple into llist
a=(1,2,3,4,5)
b=list(a)
b.remove(5)
a=tuple(b)
print(a)

(1, 2, 3, 4)

In [37]:
#delet tuple
a=(1,2,3,4)
del a
print(a)

NameError: name 'a' is not defined

In [39]:
#looping a tuple
a=("a","b","c")
for x in a:
    print(x)

a
b
c

In [42]:
#loop through index number
a=(1,2,3,4)
for i in range(len(a)):
    print(a[i])

1
2
3
4

In [43]:
#join two tuple
a=("a","b")
b=(1,2)
c=a+b
print(c)

('a', 'b', 1, 2)

In [45]:
#multiply tuples
a=(1,2,3,4)
b=a*2
print(b)

(1, 2, 3, 4, 1, 2, 3, 4)

In [46]:
#count
a=(1,2,3,4,5,6,1,2,1)
print(a.count(1))

3

In [47]:
a=["a","b","c","d","e"]
print(a.index("c"))

2

In [50]:
#index in tuple
a=(1,2,3,4,5,6)
for i in range(0,len(a)):
    print(a[i])

1
2
3
4
5
6

In [51]:
#indexwise traversing
a=(10,20,30,40)
for i in range(len(a)):
    print(a[i])

10
20
30
40

In [52]:
#element wise traversing
a=(10,20,30,40,50)
for i in a:
    print(i)

10
20
30
40
50

In [54]:
a=(1,4,6,2,7,3)
b=list(a)
b.sort()
a=tuple(b)
print(b)

[1, 2, 3, 4, 6, 7]

In [55]:
#set method
a={"a","b","c","d","e"}
print(a)
print(type(a))

{'c', 'b', 'd', 'a', 'e'}
<class 'set'>

In [56]:
#duplicates not allowed
a={1,2,3,4,1}
print(a)#duplicate value will be ignored

{1, 2, 3, 4}

In [57]:
#True and 1 considered as same value
a={"a","b",False,True,1,2}
print(a)

{False, True, 2, 'b', 'a'}

In [58]:
#false and 0 considered as same value
a={"a","b",False,True,1,2,0}
print(a)

{False, True, 2, 'b', 'a'}

In [59]:
#length of set
a={1,2,3,4}
print(len(a))

4

In [60]:
#set constructor
a=set((1,2,3,4,5))
print(a)

{1, 2, 3, 4, 5}

In [61]:
#access items
a={1,2,3,4,5}
for i in a:
    print(i)

1
2
3
4
5

In [62]:
#check item present in a
a={"a","b","c","d"}
print("b" in a)

True

In [64]:
#add items in set
a={"apple","mango","banana"}
a.add("cherry")
print(a)

{'mango', 'banana', 'apple', 'cherry'}

In [67]:
a={1,2,3,4}
b={"a","b"}
b.add("c")
print(a)
print(b)

{1, 2, 3, 4}
{'c', 'b', 'a'}

In [68]:
#add two sets using update method
a={"a","b","c","d"}
b={1,2,3,4}
a.update(b)
print(a)

{1, 2, 3, 4, 'b', 'a', 'd', 'c'}

In [69]:
fruits={"mango","orange"}
day={"monday","tuesday"}
fruits.update(day)
print(fruits)

{'mango', 'tuesday', 'monday', 'orange'}

In [70]:
#add elementsnof list on set
a={1,2,3,4}
b=[5.6]
a.update(b)
print(a)

{1, 2, 3, 4, 5.6}

In [72]:
#add elements of tuple in set
s={0,9,8,7}
a=(6,5,4,3)
s.update(a)
print(s)

{0, 3, 4, 5, 6, 7, 8, 9}

In [73]:
#remove item
a={1,2,3,4,5}
a.remove(5)
print(a)

{1, 2, 3, 4}

In [74]:
a={1,2,3,4,5,6}
a.discard(6)
print(a)

{1, 2, 3, 4, 5}

In [75]:
a={1,2,3,4}
a.remove(5)
print(a)

KeyError: 5

In [76]:
a={1,2,3,4,5}
a.discard(6)
print(a)

{1, 2, 3, 4, 5}

In [78]:
#remove random item using pop method
a={1,2,3,4,5}
b=a.pop()
print(b)
print(a)

1
{2, 3, 4, 5}

In [79]:
a={"a","b","c","d","e"}
b=a.pop()
print(b)
print(a)

c
{'b', 'd', 'a', 'e'}

In [80]:
a={1,2,3,4,5}
b=a.pop(5)
print(b)
print(a)

TypeError: set.pop() takes no arguments (1 given)

In [81]:
a={1,2,3,4,5}
a.clear()
print(a)

set()

In [82]:
#del keyword delet set completely
a={1,2,3,4,5,6}
del a
print(a)

NameError: name 'a' is not defined

In [83]:
#loop on sets
a={1,2,3,4}
for x in a:
    print(x)

1
2
3
4

In [85]:
# join sets
#union method
a={1,2,3,4}
b={5,6}
c=a.union(b)
print(c)

{1, 2, 3, 4, 5, 6}

In [86]:
a={12,11,23,44}
b={102,103}
c=a|b
print(c)

{103, 102, 23, 11, 12, 44}

In [87]:
fruit={"mango","orange"}
new={"pineaple","watermelon"}
both=fruit.union(new)
print(both)

{'mango', 'pineaple', 'watermelon', 'orange'}

In [88]:
fruit={"mango","orange"}
new={"pineaple","watermelon"}
all=fruit | new
print(all)

{'mango', 'pineaple', 'watermelon', 'orange'}

In [89]:
#join multipe sets
a={12,11,34,44}
b={34,67,89,65}
c={43,67,80,56}
d=a.union(b,c)
print(d)

{65, 34, 67, 11, 12, 44, 43, 80, 56, 89}

In [91]:
fruit={"mango","banana"}
day={"sunday","monday"}
season={"summer","rainy"}
place={"manali","jaipur"}
all=fruit.union(day,season,place)
print(all)

{'sunday', 'rainy', 'banana', 'summer', 'manali', 'jaipur', 'mango', 'monday'}

In [92]:
fruit={"mango","banana"}
day={"sunday","monday"}
season={"summer","rainy"}
place={"manali","jaipur"}
all=fruit | day | season | place
print(all)

{'sunday', 'rainy', 'banana', 'summer', 'manali', 'jaipur', 'mango', 'monday'}

In [93]:
#join set and tuple
a={1,2,3,4}
b=("a","b")
c=a.union(b)
print(c)

{1, 2, 3, 4, 'b', 'a'}

In [97]:
#update change original set
a={1,2,3,4}
b={5,6}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6}

In [98]:
fru={"mango","orange"}
new={"watermelon"}
fru.update(new)
print(fru)

{'mango', 'watermelon', 'orange'}

In [99]:
#intersection method(return item present in both set)
a={1,2,3,4,5,6}
b={5,6,7,8}
c=a.intersection(b)
print(c)

{5, 6}

In [100]:
fruit={"orange","mango"}
new={"mango","cherry"}
all=fruit.intersection(new)
print(all)

{'mango'}

In [102]:
# using & operator instead of intersection method
a={1,2,3,4,5}
b={5,6,7}
d=a & b 
print(d)

{5}

In [103]:
# intersection_update but it will change the existing set
a={1,2,3,4,5,6}
b={5,6,7,8,9,10}
a.intersection_update(b)
print(a)

{5, 6}

In [104]:
#difference method
a={1,2,3,4,5,6}
b={5,6,7,8}
c=a.difference(b)
print(c)

{1, 2, 3, 4}

In [105]:
fruit={"mango","pineaple","watermelon","cherry"}
new={"banana","cherry"}
c=fruit.difference(new)
print(c)

{'mango', 'pineaple', 'watermelon'}

In [106]:
#we will use - operator instead of difference()
fruit={"mango","pineaple","watermelon","cherry"}
new={"banana","cherry"}
c=fruit-new
print(c)

{'mango', 'pineaple', 'watermelon'}

In [107]:
a={1,2,3,4,5,6}
b={5,6,7,8}
a.difference_update(b)
print(a)

{1, 2, 3, 4}

In [109]:
fru={"mango","cherry","orange"}
new={"orange","kiwi"}
fru.difference_update(new)
print(fru)

{'mango', 'cherry'}

In [110]:
a={1,2,3,4,5,6}
b={5,6,7,8,2}
c=a.symmetric_difference(b)
print(c)

{1, 3, 4, 7, 8}

In [111]:
fruit={"mango","apple","banana","kiwi","cherry"}
new={"cherry","watermelon","kiwi"}
c=fruit.symmetric_difference(new)
print(c)

{'mango', 'banana', 'apple', 'watermelon'}

In [112]:
# insted of symmetric differece use ^ operator
fruit={"mango","apple","banana","kiwi","cherry"}
new={"cherry","watermelon","kiwi"}
all=fruit ^ new
print(all)

{'mango', 'banana', 'apple', 'watermelon'}

In [117]:
#symmetric difference_update
student={"a","h","k","s","p"}
newstu={"s","o","p","q"}
student.symmetric_difference_update(newstu)
print(student)

{'k', 'q', 'a', 'o', 'h'}

In [120]:
a={1,2,3,4,5}
b=a.copy()
print(b)

{1, 2, 3, 4, 5}

In [121]:
#isdisjoint
a={"apple","mango"}
b={"cherry","kiwi"}
a.isdisjoint(b)
print(a)

{'mango', 'apple'}

In [122]:
a={1,2,3,4,5}
b={5,6,7}
c=a.isdisjoint(b)
print(c)

False

In [124]:
a={1,2,3,4}
b={5,6,7,8}
c=a.isdisjoint(b)
print(c)

True

In [126]:
#issubset
a={1,2,3,4,5,6,7}
b={4,5,6}
print(b.issubset(a))

True

In [127]:
a={1,2,3,4,5}
b={6,7}
print(b.issubset(a))

False

In [128]:
a={1,2,3,4,5,6,7}
b={7,8,6}
print(a.issuperset(b))

False

In [129]:
a={1,2,3,4,5,6}
b={3,4}
print(a.issuperset(b))

True

In [3]:
#dictionary
a={
    'roll':101,
    'name':'sona',
    'add':'indore'
}
print(a)

{'roll': 101, 'name': 'sona', 'add': 'indore'}

In [4]:
#dict length
a={
    'roll':101,
    'name':'sona',
    'add':'indore'
}
print(len(a))

3

In [4]:
set1={1,2,3,4}
set2={3,4,5,6}
set3=set1.intersection(set2)
print(set3)

{3, 4}

In [6]:
set1={1,2,3,4}
set2={3,4,5,6}
set3=set1 & set2
print(set3)

{3, 4}

In [7]:
set1={1,2,3,4}
set2={3,4,5,6}
for i in set1 & set2:
    print(i)

3
4

In [8]:
set1={1,2,3,4}
set2={3,4,5,6}
set3={x for x in set1 if x in set2}
print(set3)

{3, 4}

In [5]:
#type of dictionary
a={
    'roll':101,
    'name':'sona',
    'add':'indore'
}
print(type(a))

<class 'dict'>

In [10]:
set1={1,6,3,4}
set2=list(set1)
print(set2[1])

3

In [10]:
#dict constructor
a=dict(roll:101,name:"sona",add:"indore")
print(a)

SyntaxError: invalid syntax (1949761868.py, line 2)

In [13]:
set1={1,2,3,4}
count=0
for x in set1:
    count+=1
    if count==2:
        print(x)
        break

2

In [14]:
set1={1,2,3,4}
set2={x:x*2 for x in set1}
print(set2)

{1: 2, 2: 4, 3: 6, 4: 8}

In [13]:
#accessing items
a={
    'roll':101,
    'name':'sona',
    'add':'indore'
}
b=a['roll']
print(b)

101

In [15]:
a = [1,5,7,6,9,2,-1]
#o/p [-1, 1, 2, 5, 6, 7, 9]
b=a.sort()
print(b)

None

In [17]:
a = [1,5,7,6,9,2,-1]
#o/p [-1, 1, 2, 5, 6, 7, 9]
for a in(rangea[-1:]):
    print(a)

NameError: name 'rangea' is not defined

In [14]:
#get method
a={
    'roll':101,
    'name':'sona',
    'add':'indore'
}
b=a.get('name')
print(b)

sona

In [18]:
a = [1,5,7,6,9,2,-1]
n=len(a)
for i in range(n):
    for j in range(n - i - 1):
        if a[j]>a[j+1]:
            a[j],a[j+1]=a[j+1],a[j]
print(a)

[-1, 1, 2, 5, 6, 7, 9]

In [20]:
a = [[78, "P"], [67, "R"], [3, "A"], [10, "B"], [7, "Z"]]
b=len(a)
for i in range(b):
    for j in range(b - i - 1):
        if a[j]>a[j+1]:
            a[j],a[j+1]=a[j+1],a[j]
print(a)

[[3, 'A'], [7, 'Z'], [10, 'B'], [67, 'R'], [78, 'P']]

In [29]:
n=10
for i in range(1,11):
    print(10*i)

10
20
30
40
50
60
70
80
90
100

In [32]:
n=0
for i in range(0,100):

IndentationError: expected an indented block after 'for' statement on line 3 (3956635464.py, line 4)

In [16]:
a = [1,5,7,6,9,2,-1]
print(sort(a))

NameError: name 'sort' is not defined

In [15]:
a={
    'roll':101,
    'name':'sona',
    'add':'indore'
}
b=a.keys()
print(b)

dict_keys(['roll', 'name', 'add'])

In [16]:
a={
    'roll':101,
    'name':'sona',
    'add':'indore'
}
print(a.clear())

None

In [17]:
a={
    'roll':101,
    'name':'sona',
    'add':'indore'
}
b=a.clear()
print(b)

None

In [18]:
a={
    'roll':101,
    'name':'sona',
    'add':'indore'
}
b=a.copy()
print(b)

{'roll': 101, 'name': 'sona', 'add': 'indore'}

In [22]:
a={
    'roll':101,
    'name':'sona',
    'add':'indore'
}
b=a.update({'add':'pune'})
print(b)

None

In [23]:
a={
    'roll':101,
    'name':'sona',
    'add':'indore'
}
n=a.copy()
print(n)

{'roll': 101, 'name': 'sona', 'add': 'indore'}

In [25]:
colors=("red","green","blue")
print(colors[1])
print(len(colors))

green
3

In [28]:
colors=("red","green","yellow")
colors2=("pink","brown")
colorsc=colors+colors2
print(colorsc*3)
print(colorsc)

('red', 'green', 'yellow', 'pink', 'brown', 'red', 'green', 'yellow', 'pink', 'brown', 'red', 'green', 'yellow', 'pink', 'brown')
('red', 'green', 'yellow', 'pink', 'brown')

In [33]:
colors=("red","green","yellow")
b=colors.index("green")
print(b)

1

In [34]:
colors=("red","green","yellow","green")
print(colors.count("green"))

2

In [49]:
colors=(("green","red"),("pink","blue"))
new="blue" in colors
print(new)

False

In [54]:
a=(1,2,3,4,5,6,7,34,12,11)
print(min(a))
print(max(a))
b=list(a)
print(b)

1
34
[1, 2, 3, 4, 5, 6, 7, 34, 12, 11]

In [59]:
a=(1,2,3,4,5,6,7,34,12,11)
b=tuple(sorted(a))
print(b)

(1, 2, 3, 4, 5, 6, 7, 11, 12, 34)

In [62]:
a=(1,2,3,4,5,6,7,34,12,11)
b=sum(a)
print(b)

85

In [63]:
a=(1,2,3,4,5,6,7,34,12,11)
b=set(a)
print(b)

{1, 2, 3, 4, 5, 6, 7, 34, 11, 12}

In [3]:
empty_tuple=()
numbers_tuple=(1,2,3,4,5,6)
squared_numbers=tuple(i**2 for i in numbers_tuple)
even_numbers=tuple(i for i in numbers_tuple if i%2==0)
print(empty_tuple)
print(squared_numbers)
print(even_numbers)

()
(1, 4, 9, 16, 25, 36)
(2, 4, 6)